.activity-images-item {
    // width: 80% !important;
    text-align: inherit !important;
}

.activity-ima {
    aspect-ratio: 16/9;
    object-fit: cover;
}

.activity-images-img {
    aspect-ratio: 16/9;
    object-fit: cover;
}